In [1]:
import pandas as pd

Read data:

In [2]:
df = pd.read_csv('FRB_Z1_test.csv')
dfdict = pd.read_csv('FRB_Z1_dict.csv')

Merge dictionary with data and process dates:

In [9]:
dfcombo = dfdict.merge(df,on='series_code')
dfcombo['time_period'] = pd.to_datetime(dfcombo['time_period'], format='%Y-%m-%d')
dfcombo.head()

If neeeded, reshape the data long to wide:

In [12]:
dfwide = dfcombo.pivot(index='time_period', columns='series_code', values='obs_value')
dfwide.head()

,series_code,sector,instrument,series_type,unit,currency,mult,frequency,time_period,obs_value
0,FL010000016,1,0,6,Percent,NaN,1,Q,2009-12-31,11.4
1,FL010000016,1,0,6,Percent,NaN,1,Q,2010-03-31,11.8
2,FL010000016,1,0,6,Percent,NaN,1,Q,2010-06-30,12.1
3,FL010000016,1,0,6,Percent,NaN,1,Q,2010-09-30,12.3
4,FL010000016,1,0,6,Percent,NaN,1,Q,2010-12-31,12.3
...,...,...,...,...,...,...,...,...,...,...
1439647,FL915000085,91,50000,5,Currency,USD,1000000,Q,2022-06-30,-4378973.0
1439648,FL915000085,91,50000,5,Currency,USD,1000000,Q,2022-09-30,-3984429.0
1439649,FL915000085,91,50000,5,Currency,USD,1000000,Q,2022-12-31,-3690317.0
1439650,FL915000085,91,50000,5,Currency,USD,1000000,Q,2023-03-31,-4012990.0
1439651,FL915000085,91,50000,5,Currency,USD,1000000,Q,2023-06-30,-4062131.0